{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div id="wrapper">
        <form action="{{ path('book_create') }}" method="POST">
            <button type="submit">Add book</button>
        </form>
        <form action="{{ path('book_index') }}" method="GET">
            {{ form_start(form) }}
            <div>
                <div>
                    <span>Name</span>
                </div>
                {{ form_widget(form.name) }}
            </div>
            <div>
                <div>
                    <span>Year: from</span>
                </div>
                {{ form_widget(form.yearFrom) }}
            </div>
             <div>
                <div>
                    <span>Year: to</span>
                </div>
                {{ form_widget(form.yearTo) }}
            </div>
            <div>
                <div>
                    <span>Image URL</span>
                </div>
                {{ form_widget(form.image) }}
            </div>
            <div>
                <div>
                    <span>Description</span>
                </div>
                {{ form_widget(form.description) }}
            </div>
            <div>
                <div>
                    <label>Authors</label>
                </div>
                {{ form_widget(form.authors) }}
            </div>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </form>
        {% for book in books %}
            <div class="card">
                <a href="{{ path('book_show', {id: book.id}) }}">
                    {% if book.image is not null %}
                        <img src="{{ book.image }}" alt="Image from external resource" />
                    {% else %}
                        <img src="{{ asset('images/default-book-cover.png') }}" alt="Default image" />
                    {% endif %}
                    <div class="book_name">
                        {{ book.name }}
                    </div>
                    </br>
                    <div class="book_description">
                        {{ book.description }}
                    </div>
                </a>
                <form action="{{ path('book_edit', {id: book.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="PATCH">
                    <button type="submit">Edit</button>
                </form>
                <form action="{{ path('book_delete', {id: book.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
                {% for author in book.authors %}
                    <a href="{{ path('author_show', {id: author.id}) }}">
                        {{ author.name }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            No books have been found.
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        img {
            display: inline-block;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            width: 210px; 
            height: 340px;
            margin-right: auto;
            margin-top: 5px;
            float: left;
        }

        a {
            text-decoration: none;
            color: #000000;
        }

        .book_name {
            display: inline-block;
        }

        .book_description {
            display: inline-block;
        }

        .card {
            display: block;
            margin-bottom: 340px;
        }
    </style>
{% endblock %}
